@keyframes mover {
    0% {transform: translate(0); background-color: lightcoral;}
    50% {transform: translate(200px); background-color:lightseagreen ;}
    100%{transform: translate(0); background-color: lightcoral;}
}

.caja{
    width: 100px;
    height: 100px;
    background-color: red;
    animation: mover 0.01s infinite ease-in-out;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 8px;
}